</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section>
			<h2>Follow WKHS</h2>
			<ul class="icons">
				{% if site.twitter_username %}
				<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.facebook_URL %}
				<li><a href="https://facebook.com/{{ site.facebook_URL }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_username %}
				<li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				{% endif %}
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; {{ site.title }}. All rights reserved.</li>
			<li>Maintained by <a href="https://github.com/Spazzinq">George Fang</a></li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
