<section class="tiles">

{% for post in site.categories.stem %}
	{% assign remainder = forloop.index0 | modulo: 6 %}
	<article class="style{{ remainder | plus:1 }}">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic02.jpg" alt="" />
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2 style="font-size: 150%; letter-spacing: 0.02em;">{{ post.title }}</h2>
			<div class="content">
				<p>{{page.categories | capitalize | join: ', '}}</p>
			</div>
		</a>
	</article>
{% endfor %}

</section>
