<section class="tiles">

{% for post in site.clubs limit:site.front-page-posts %}
	{% assign remainder = forloop.index | modulo: 6 %}
	<article class="style{{ remainder }}">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic02.jpg" alt="" />
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2 style="font-size: 2em; letter-spacing: 0.02em;">{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.excerpt }}</p>
			</div>
		</a>
	</article>
{% endfor %}

</section>
